@inherits LayoutComponentBase
@using Portfolio.Client.Components
<main @onmousemove="TrackMouse" @onmousewheel="TrackMouse">
    <div class="track-mouse" style="--posX:@cursorPositionX;--posY:@cursorPositionY;"></div>
    <Nav/>
    @Body
</main>


@code{
    private string cursorPositionX;
    private string cursorPositionY;

    public void TrackMouse(MouseEventArgs mouse){
        cursorPositionX = (mouse.PageX - 25).ToString() + "px";
        cursorPositionY = (mouse.PageY - 25).ToString() + "px";
    }
}