@* NASA Astoronomy Picture of the Day *@
@inject HttpClient HttpClient
@using System.Net.Http.Json

<a href="@apod.HDURL">
    <img src="@apod.HDURL" alt="Astronomy Picture of the Day"> 
</a>
<p><i>@apod.Explanation</i></p>

@code{
    APODModel apod = new();
    protected override async Task OnInitializedAsync(){
        apod = await HttpClient.GetFromJsonAsync<APODModel>("api/APOD");
    }
}